## Useful Python

### Checking if Two Words are Anagrams

In [6]:
from collections import Counter

In [7]:
str1 = "ages"
str2 = "sega"

In [10]:
Counter(str1) == Counter(str2)

True

### Reverse a String

In [13]:
a = "abcdefghijklmnopqrstuvwxyz"

In [14]:
print(a[::-1])

zyxwvutsrqponmlkjihgfedcba

   ### Iterate Over a String in Reverse Order

In [1]:
b = "luaP"

In [3]:
for char in reversed(b):
    print(char)

P
a
u
l

### Reverse an Integer

In [5]:
num = 123456789

In [6]:
print(int(str(num)[::-1]))

987654321

### Swapping Values

In [8]:
a, b = 5, 10
print( a, b)

5 10

In [9]:
a, b = b, a
print(a, b)

10 5

### Find the Most Frequent Value in a List  (Way 1)

In [19]:
a = [1, 2, 3, 1, 2, 3, 2, 2, 4, 5, 1]

In [20]:
print(max(set(a), key = a.count))

2

### Find the Most Frequent Value in a List  (Way 2)

In [22]:
from collections import Counter

In [26]:
cnt = Counter(a)

#### Here we see the most common value and its count.

In [27]:
print(cnt.most_common(1))

[(2, 4)]

#### With no input parameter, we see all values with their count value.

In [30]:
print(cnt.most_common())

[(2, 4), (1, 3), (3, 2), (4, 1), (5, 1)]

#### Specifying a value N where N is not None, that number of values with their count is displayed.

In [31]:
print(cnt.most_common(3))

[(2, 4), (1, 3), (3, 2)]

### Transpose a 2d Array

In [35]:
original = [['a','b'],['c','d'],['e','f']]

In [36]:
transposed = zip(*original)

In [37]:
print(list(transposed))

[('a', 'c', 'e'), ('b', 'd', 'f')]

### Chanined Comparison

In [41]:
b = 6
print(4 < b < 7)
print(1 == b < 20)

True
False

### Chained Function Call

In [43]:
def product(a, b):
    return a * b

In [44]:
def add(a, b):
    return a + b

In [51]:
b = True

#### Here the function product is called if b = True. Otherwise the function add is called. Whichever function is called the parameters (5, 7) are passed.

In [50]:
print((product if b else add)(5,7))

35

### Copying Lists

#### Both a & b will be updated.

In [6]:
a = [1, 2, 3, 4, 5]
b = a
b[0] = 10
print(a, b)

[10, 2, 3, 4, 5] [10, 2, 3, 4, 5]

#### Only b is modified.

In [7]:
a = [1, 2, 3, 4, 5]
b = a[:]
b[0] = 10
print(a, b)

[1, 2, 3, 4, 5] [10, 2, 3, 4, 5]

In [9]:
a = [1, 2, 3, 4, 5]
print(list(a))

[1, 2, 3, 4, 5]

In [15]:
a = [1, 2, 3, 4, 5]
print(a.copy())

[1, 2, 3, 4, 5]

#### To Copy Nested Lists

In [11]:
from copy import deepcopy
l = [[1, 2],[3, 4]]
l2 = deepcopy(l)
print(l2)

[[1, 2], [3, 4]]

### Dictionary Get

In [23]:
data = {'a': 1, 'b': 2}

#### Try to get the value of 'c' from data. If it does not exist, then display the default value of: 3.

In [24]:
print(data.get('c', 3))

3

### Sort Dictionary byÂ Value

### List slices (a[start:end])

In [2]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
a[4:7]

[4, 5, 6]

### Generator expressions

In [7]:
g = (x ** 2 for x in range(10))

In [9]:
next(g)

1

In [10]:
next(g)

4

In [11]:
next(g)

9

In [12]:
### Dictionary comprehensions

In [14]:
m = {x: x ** 2 for x in range(5)}

In [15]:
m

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [16]:
m = {x: 'A' + str(x) for x in range(10)}

In [17]:
m

{0: 'A0',
 1: 'A1',
 2: 'A2',
 3: 'A3',
 4: 'A4',
 5: 'A5',
 6: 'A6',
 7: 'A7',
 8: 'A8',
 9: 'A9'}

### Named tuples (collections.namedtuple)

In [21]:
import collections
Point = collections.namedtuple('Point', ['x', 'y'])

In [22]:
p = Point(x=1.0, y=2.0)

In [23]:
p.x

1.0

In [24]:
p.y

2.0

### Double-ended queue (collections.deque)

In [36]:
import collections
Q = collections.deque()

In [37]:
Q.append(1)
Q.appendleft(2)
Q.extend([3, 4])
Q.extendleft([5, 6])

In [38]:
Q

deque([6, 5, 2, 1, 3, 4])

In [39]:
Q.pop()

4

In [40]:
Q.popleft()

6

In [41]:
Q

deque([5, 2, 1, 3])

In [42]:
Q.rotate(3)
Q

deque([2, 1, 3, 5])

### Using default dictionaries to define JSON tree

In [45]:
import json

In [46]:
tree = lambda: collections.defaultdict(tree)
root = tree()

In [47]:
root['menu']['id'] = 'file'
root['menu']['value'] = 'File'
root['menu']['menuitems']['new']['value'] = 'New'
root['menu']['menuitems']['new']['onclick'] = 'new();'
root['menu']['menuitems']['open']['value'] = 'Open'
root['menu']['menuitems']['open']['onclick'] = 'open();'
root['menu']['menuitems']['close']['value'] = 'Close'
root['menu']['menuitems']['close']['onclick'] = 'close();'

In [50]:
print(json.dumps(root, sort_keys=True, indent=4, separators=(',', ': ')))

{
    "menu": {
        "id": "file",
        "menuitems": {
            "close": {
                "onclick": "close();",
                "value": "Close"
            },
            "new": {
                "onclick": "new();",
                "value": "New"
            },
            "open": {
                "onclick": "open();",
                "value": "Open"
            }
        },
        "value": "File"
    }
}